.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 50px;
    background-color: #151E3F;
    border: 1px solid #F2F3D9;
    border-radius: 5px;
    position: absolute;
    width: 50%;
    z-index: 1000;
}
.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}
.suggestions-list li:hover {
    background-color: #F2F3D9;
    color: #151E3F;
}
