.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 40px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 400px;
    width: 80%;
    position: absolute;
    z-index: 1;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}
