.card-container {
    width: fit-content;
    border: 1px solid #F2F3D9;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 5x rgba(0, 0, 0, 0.5);
}

.img-container {
    min-width: 250px;
}

.img-container img {
    width: 100%;
    border-radius: 23px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-button-cont {
    display: flex;
    justify-content: space-between;
}

.board-det {
    padding: 0 15px 15px 15px;
}

.card-button-cont button{
    padding: 5px 10px;
    border-radius: 7px;
    background: none;
    color: #F2F3D9;
    font-weight: 900;
    border: 1px solid #F2F3D9;
    cursor: pointer;
}
