.buttons-container, .buttons-container-1, .buttons-container-2 {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    border-radius: 10px;
    background: none;
    color: #F2F3D9;
    font-weight: 900;
    border: 1px solid #F2F3D9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #F2F3D9;
    color: #151E3F;
}
