.card-cont-text {
    padding: 10px;
    position: relative;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}

.gif-container img{
    height: 200px;
}
