.searchform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.searchform-container input {
    width: 40%;
    height: 30px;
    border: 1px solid #151E3F;
    border-radius: 5px;
}
