.buttons-container-2 {
    margin-top: 15px;
}

.create-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.create-container button {
    padding: 10px 20px;
    border-radius: 10px;
    background: none;
    color: #F2F3D9;
    font-weight: 900;
    border: 1px solid #F2F3D9;
    cursor: pointer;
}
